PROJECT_NAME=smart-task
DEBUG=True
DATABASE_URL=postgresql://postgres:postgres@db:5432/smarttask
FRONTEND_URL=http://localhost:4200
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=no-reply@smarttask.local
SMTP_USE_STARTTLS=True
SMTP_USE_SSL=False
